# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Node
node_modules/
npm-debug.log
.DS_Store

# React build
frontend/build/
frontend/dist/
